/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add margin top for every page */
/* App.css */
.content-container {
  margin-top: 70px; /* Adjust as needed based on navbar height */
}
