.backgroundItems {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.train {
    composes: backgroundItems;
    background: transparent url(../images/8bit-train.gif) no-repeat top center;
    background-size: 100vw;
    z-index: -2;
    filter: blur(6px);
}

.bokeh2 {
    composes: backgroundItems;
    background: transparent url(../images/bokeh2.jpg) no-repeat top center;
    background-size: 100%;
    z-index: -1;
    opacity: 0.25;
    filter: blur(10px);

}

